* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --light-beige: #FAF3E1;
    --beige: #F5E7C6;
    --orange: #FA8112;
    --yellow: rgb(255, 191, 0);
    --dark: #0e0e0e;
    --gray: #383838;
    --blue: rgb(22, 96, 224);
    --italic-deg: 20deg;
}

@font-face {
    font-family: pixel;
    src: url(../fonts/upheavtt.ttf);
}

@font-face {
    font-family: main;
    src: url(../fonts/LondrinaSolid-Regular.otf);
}

body{
    font-family: main;
}

a{
    text-decoration: none;
}

#nav{
    position: sticky;
    top: 0;
    height: 8vh;
    width: calc(100vw - 20px);
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background: linear-gradient(
        to bottom,
        var(--dark) 0%,
        rgba(14, 14, 14, 0.7) 80%,
        rgba(14, 14, 14, 0.3)
    );
    border-top: 1px solid white;
    border-radius: 10px 10px 0 0;
    z-index: 4;
    list-style-type: none;
}

#nav::before{
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    height: calc(100% + 200px);
    width: 1px;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 25%,
        rgba(255,255,255,1) 60%,
        rgba(255,255,255,0) 100%
    );

    border-top-left-radius: 10px;
    pointer-events: none;
}

#nav::after{
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    height: calc(100% + 200px);
    width: 1px;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 25%,
        rgba(255,255,255,1) 60%,
        rgba(255,255,255,0) 100%
    );

    border-top-right-radius: 10px;
    pointer-events: none;
}

#nav li{
    width: 10%;
    transition: all 0.3s;
}

#nav li a{
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

#nav li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;

    width: 100%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        white,
        transparent
    );

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all 0.5s;
}

#nav li a:hover::before {
    opacity: 1;
}

#nav li a:hover{
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.642));
}

#nav .center{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.glow-split::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 10%;

    width: 80%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        white,
        transparent
    );

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all 0.5s;
}

#home svg{
    z-index: 100;
    position: fixed;
    top: 5px;
    left: 5px;
    margin: 5px;
}

#noti{
    z-index: 100;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
    padding: 10px 20px;
    max-width: 80vw;
    z-index: 10;
    background-color: var(--beige);
    border: 2px solid var(--dark);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    font-size: 20px;
    transition: all 0.3s;
}

.ongoing{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: main;
    font-size: 20vw;
    justify-content: center;
    align-items: center;
    text-decoration: underline overline;
}

.left-italic{
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(var(--italic-deg), 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(var(--italic-deg), 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(var(--italic-deg), 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(var(--italic-deg), 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(var(--italic-deg), 0deg);
}

.quote{
    font-style: italic;
    opacity: 0.7;
    color: white;
    font-size: 50px;
    text-align: center;
}

.quote::before{
    content: '"';
} 
.quote::after{
    content: '"';
}

/* RESPONSIVE */
@media (max-width: 430px) {

    #nav{
        height: 56px;
        font-size: 16px;
    }

    #nav li{
        width: auto;
        padding: 0 10px;
    }

    #nav .center{
        width: auto;
        gap: 12px;
    }
}