body {
    background-color: var(--dark);
    margin: 0;
    min-height: 100vh;
    background-image: url(../assets/background.png);
    background-size: contain;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

#home {
    filter: invert(1);
}

#setting {
    position: fixed;
    top: 5vh;
    right: 20px;
    width: 40vw;
    height: 90vh;
    border: 1px solid var(--light-beige);
    background-color: var(--orange);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#setting h1 {
    font-size: 40px;
    color: var(--light-beige);
    text-decoration: underline;
    text-shadow: 3px 4px 0px var(--dark);
}

#setting .info-field {
    width: 90%;
    background-color: var(--light-beige);
    border-radius: 10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#setting .info-field input,
#setting .info-field textarea,
#setting .info-field button {
    font-family: main;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    border: 1px solid var(--dark);
}

#setting .info-field input {
    height: 15%;
}

#setting .info-field textarea {
    height: 45%;
}

#setting .info-field button {
    cursor: pointer;
    background-color: var(--red);
    height: 12%;
    color: white;
}

#output {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/cross-lines.png);
    background-size: cover;
    border: 3px solid var(--dark);
    border-radius: 10px;
    padding: 10px;
}

#AI_output{
    white-space: pre;
    width: 100%;
    margin: 0;
    color: var(--light-beige);
}

#play-field {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#character {
    position: relative;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attr-circle {
    display: none;
    position: absolute;
    inset: 0;
}

.attribute {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 132, 255, 0.322);
    padding: 10px 0;
    font-family: main;
    border-radius: 100px;
    overflow: hidden;
}

.attribute span {
    z-index: 2;
    width: 80%;
    text-align: center;
    line-break: auto;
    color: white;
}

.attribute .liquid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 100px 100px;
    background-color: rgb(63, 110, 179);
}

.attribute .liquid svg{
    position: absolute;
    top: -12px;
    left: 0;
    width: 200%;
    height: 40px;
    animation: waveMove 4s infinite;
}

@keyframes waveMove{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-70%);
    }
}

#char-name {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}

#character img {
    width: 150px;
}