:root {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ffa900;
  --sb-size: 10px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}