* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root{
    --light-beige: #FAF3E1;
    --beige: #F5E7C6;
    --orange: #FA8112;
    --dark: #0e0e0e;
    --gray: #383838;
}

@font-face {
    font-family: pixel;
    src: url(../fonts/upheavtt.ttf);
}

@font-face {
    font-family: main;
    src: url(../fonts/LondrinaSolid-Regular.otf);
}

body{
    font-family: main;
}

a{
    text-decoration: none;
}

#nav{
    position: sticky;
    top: 0;
    height: 8vh;
    width: 98.7vw;
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background: var(--dark);
    border-top: 1px solid white;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    list-style-type: none;
}

#nav::before{
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    height: calc(100% + 200px);
    width: 1px;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 25%,
        rgba(255,255,255,1) 60%,
        rgba(255,255,255,0) 100%
    );

    border-top-left-radius: 10px;
    pointer-events: none;
}

#nav::after{
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    height: calc(100% + 200px);
    width: 1px;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,1) 25%,
        rgba(255,255,255,1) 60%,
        rgba(255,255,255,0) 100%
    );

    border-top-right-radius: 10px;
    pointer-events: none;
}

#nav li{
    width: 10%;
    transition: all 0.3s;
}

#nav li a{
    position: relative;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

#nav li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    opacity: 0;

    width: 100%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        white,
        transparent
    );

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all 0.5s;
}

#nav li a:hover::before {
    opacity: 1;
}

#nav li a:hover{
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.642));
}

#nav .center{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.glow-split::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 10%;

    width: 80%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        white,
        transparent
    );

    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: all 0.5s;
}

#home svg{
    z-index: 100;
    position: fixed;
    top: 5px;
    left: 5px;
    margin: 5px;
}