body{
    background-color: var(--dark);
}

.topic-btn{
    color: white;
    font-size: 50px;
    font-family: pixel;
    background-color: var(--orange);
    border-radius: 10px;
    padding: 50px 10vw;
    border: 2px solid var(--light-beige);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    transition: all 0.3s;
}

.topic-btn:hover{
    font-size: 55px;
    padding: 52px 10vw;
}

.topic-btn:nth-child(1){
    background-image: url(../assets/topic_imgs/personal.jpg);
    background-position: center;
    background-size: cover;
    filter: contrast(120%) hue-rotate(-20deg) sepia(20%);
}

.topic-btn:nth-child(2){
    background-image: url(../assets/topic_imgs/game-theory.jpg);
    background-position: center;
    background-size: cover;
}

.heading{
    margin-top: 20vh;
    text-align: center;
    font-size: 120px;
    color: white;
}

#btn-container{
    width: 100vw;
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

#demo{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo .img-container{
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

#demo .img-container img{
    margin: 0 20px;
    width: 400px;
    height: 100%;
    object-fit: cover;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about p{
    width: 85%;
    font-size: 25px;
    color: white;
}